<% @title = "Users List" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "users" %>
<% end %>

<div class="users-list-header-container">
    <h3>Users List</h3>

    <% if current_user.administrator? %>
      <%= link_to "Create user", new_user_path, { class: "btn" } %>
    <% end %>
</div>

<% if @users.count >= 1 %>
  <p>For improved privacy, you can only see users enrolled in courses that you're an instructor for, and&mdash;of
    course&mdash;yourself.</p>
  <% if current_user.administrator? %>
    <p>Since you're an Autolab administrator, you can see everybody, and other administrators will be tagged with
      <i>(Autolab Admin)</i>.</p>
  <% end %>

  <table class="noStyle navigatable">
    <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user_path(user) %>
          <% if current_user.administrator? && user.administrator? %>
            (Autolab Admin)
          <% end %>
        </td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
