<%# We can't modify the controller %>
<% @breadcrumbs = [] %>
<% @breadcrumbs << (link_to "Users List", users_path) %>
<% @breadcrumbs << (link_to current_user.display_name, user_path(current_user)) %>
<% @title = "Authorized Applications" %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "initialize_tooltips" %>
<% end %>

<% is_admin = current_user.administrator? %>
<% num_permissions = is_admin ? 6 : 5 %>

<h3>Manage Authorized Applications</h3>
<p>This page shows applications that you've authorized to use your account and the maximum permissions they're allowed
  to request. When you authorize an application, it shows you which scopes (permissions) it's requesting. Those scopes
  <i>are</i> honored, even if it's not represented on this page. One application can have multiple authorizations with
  different scopes, and it's not feasible to display that here. Don't panic if you see an application with more access
  than you granted it here. Each application client instance can only access the scopes you originally granted it. If
  you want to revoke an application, it will deauthorize all authorizations for that particular app.</p>
<br>

<table class="bordered centered">
  <thead>
    <tr style="border: none">
      <th style="padding: 5px" rowspan="2">Name</th>
      <th style="padding: 5px" colspan="<%= num_permissions %>">Permissions</th>
      <th style="padding: 5px" rowspan="2">Authorized On</th>
      <th style="padding: 5px" rowspan="2">Actions</th>
    </tr>
    <tr>
      <th><i class="material-icons small tooltipped" data-tooltip="Access your basic info (e.g. name, email, school, year)">contact_mail</i></th>
      <th><i class="material-icons small tooltipped" data-tooltip="Access your courses and assessments">class</i></th>
      <th><i class="material-icons small tooltipped" data-tooltip="Access your submissions, scores, and feedback">assessment</i></th>
      <th><i class="material-icons small tooltipped" data-tooltip="Submit assessments on your behalf">note_add</i></th>
      <th><i class="material-icons small tooltipped" data-tooltip="Access admin options of courses where you are an instructor">verified_user</i></th>
      <% if is_admin %>
      <th><i class="material-icons small tooltipped" data-tooltip="Access admin options of Autolab">developer_board</i></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% if @applications.empty? %>
      <tr>
        <td colspan="<%= num_permissions + 3 %>">There are currently no authorized applications</td>
      </tr>
    <% else %>
      <% @applications.each do |application| %>
        <% most_recent_grant = Doorkeeper::AccessGrant.where(application_id: application.id,
                                                             resource_owner_id: current_user)
                                                      .max_by(&:created_at) %>
        <tr>
          <td><%= application.name %></td>
          <td><% if application.scopes.include? "user_info" %><i class="material-icons small">done</i><% end %></td>
          <td><% if application.scopes.include? "user_courses" %><i class="material-icons small">done</i><% end %></td>
          <td><% if application.scopes.include? "user_scores" %><i class="material-icons small">done</i><% end %></td>
          <td><% if application.scopes.include? "user_submit" %><i class="material-icons small">done</i><% end %></td>
          <td><% if application.scopes.include? "instructor_all" %><i class="material-icons small">done</i><% end %></td>
          <% if is_admin %>
          <td><% if application.scopes.include? "admin_all" %><i class="material-icons small">done</i><% end %></td>
          <% end %>
          <td><span class="moment-date-time"><%= most_recent_grant.created_at %></span></td>
          <td><%= render 'delete_form', application: %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
